{
    email admin@bahaynes.com
}

http://dndproject.bahaynes.com {
    redir https://{host}{uri}
}

https://dndproject.bahaynes.com {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    encode gzip
    root * /srv
    file_server
    try_files {path} /index.html

    # Proxy API requests
    handle_path /api/* {
        reverse_proxy backend:8000
    }

}
