@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
  themes: forest, halloween, business, fantasy;
}

:root {
  --font-cinzel: "Cinzel", serif;
  --font-lato: "Lato", sans-serif;
}

body {
  font-family: var(--font-lato);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel);
}
